LogicEngine/src/ParsedClasses/ETT-V3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ETT-TimeTable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Teachers"/>
				<xs:element ref="ETT-Subjects"/>
				<xs:element ref="ETT-Classes"/>
				<xs:element ref="ETT-Rules"/>
			</xs:sequence>
			<xs:attribute name="hours" type="xs:int" use="required"/>
			<xs:attribute name="days" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teaching">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Teaches" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teaches">
		<xs:complexType>
			<xs:attribute name="subject-id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teachers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Teacher" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Teacher">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ETT-Name"/>
				<xs:element ref="ETT-Teaching"/>
				<xs:element name="ETT-Working-Hours" type="xs:int"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Subjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Subject" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Subject">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Study">
		<xs:complexType>
			<xs:attribute name="subject-id" type="xs:int" use="required"/>
			<xs:attribute name="hours" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Rule" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="hard-rules-weight" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-RuleId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="TeacherIsHuman"/>
				<xs:enumeration value="Singularity"/>
				<xs:enumeration value="Knowledgeable"/>
				<xs:enumeration value="DayOffTeacher"/>
				<xs:enumeration value="Sequentiality"/>
				<xs:enumeration value="DayOffClass"/>
				<xs:enumeration value="WorkingHoursPreference"/>
				<xs:enumeration value="Satisfactory"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ETT-Rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-RuleId"/>
				<xs:element ref="ETT-Configuration" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Hard"/>
						<xs:enumeration value="Soft"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Requirements">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Study" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Name" type="xs:string"/>
	<xs:element name="ETT-Descriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-TimeTable"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Configuration" type="xs:string"/>
	<xs:element name="ETT-Classes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ETT-Class" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ETT-Class">
		<xs:complexType>
			<xs:all>
				<xs:element ref="ETT-Name"/>
				<xs:element ref="ETT-Requirements"/>
			</xs:all>
			<xs:attribute name="id" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
